@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    overflow-x: hidden;
    font-family: Poppins,
        Arial,
        Helvetica,
        sans-serif !important;
}
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: transparent !important;
    outline: 0;
     box-shadow: none !important ;
}
#header .header1 {
    position: relative;
    z-index: 100;
    height: 6.875rem;
    background: linear-gradient(to right, #1db4eb 0%, #9cbf17 80%) !important;
    color: #fff;
}
.cta{
    background-color: #1db4eb;
    color: white !important;
}
.nav-item .active{
    background: linear-gradient(to right, #1db4eb 0%, #9cbf17 80%) !important;
}

.btn-quantity-control {
    display: flex;
    width: 2.625rem;
    height: 2.625rem;
    border-radius: 1.3125rem;
    background-color: rgb(156, 191, 23);
    color: #fff !important;
    align-items: center;
    justify-content: center;
    border: solid 1px transparent;
    padding: 0;
    font-size: 1.3rem;
    cursor: pointer;
}

.btn-quantity-control.minus {
    background: rgba(156, 191, 23, .4);
}
.header-steps .steps ul li .step.active {
    font-weight: bold;
    color: rgb(156, 191, 23) !important;
    border-bottom-color: rgb(156, 191, 23) !important;
}

.calendar {
    width: 100%;
    height: 350px;
    margin: 0 auto;

    background: #fff;
    border-radius: 4px;
    overflow: hidden;
}

.ui-datepicker-header {
    height: 50px;
    line-height: 50px;
    color: black;
    background: white;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    width: 40px;
    height: 40px;
    text-indent: 9999px;
    border: 2px solid #b0aead;
    border-radius: 100%;
    cursor: pointer;
    overflow: hidden;
    margin-top: 12px;
    padding-left: 12px;
}

.ui-datepicker-prev {
    float: left;
    margin-left: 12px;
}

&:after {
    transform: rotate(45deg);
    margin: -43px 0px 0px 8px;
}

.ui-datepicker-next {

    float: right;
    margin-right: 12px;
}

&:after {
    transform: rotate(-135deg);
    margin: -43px 0px 0px 6px;
}
.ui-datepicker-next:after{
    transform: rotate(215deg);
}
.ui-datepicker-prev:after {
    transform: rotate(45deg);
}
.ui-datepicker-prev:after,
.ui-datepicker-next:after {
    content: '';
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    border-left: 2px solid #b0aead;
    border-bottom: 2px solid #b0aead;
    top: 72px;
    
}

.ui-datepicker-prev:hover,
.ui-datepicker-next:hover,
.ui-datepicker-prev:hover:after,
.ui-datepicker-next:hover:after {
    border-color: #5ed1cc;
}

.ui-datepicker-title {
    text-align: center;
}

.ui-datepicker-calendar {
    width: 100%;
    text-align: center;
}

thead tr th span {
    width: 40px;
    color: #00a8b2;
    margin-bottom: 5px;
    font-size: 20;
}

.ui-state-default {
    display: block;
    text-decoration: none;
    color: #000000b8;
    line-height: 40px;
    font-size: 17px;
}

&:hover {
    background: rgba(0, 0, 0, 0.02)
}

.ui-state-highlight {
    color: #8dd391;
}

.ui-state-active {
   background-image:linear-gradient(to right, #1db4eb 0%, #9cbf17 80%) !important;
   color: white;
   border-radius: 5px;
}

.ui-datepicker-unselectable .ui-state-default {
    color: #eee;
    border: 2px solid transparent;
}

.booking-calendar .calendar-legend .color .dot.selected {
    background-color: #00a8b2 !important;
}

.gift_card{
background-color: #9cbf17 !important;
}

@media screen and (max-width: 1024px) {
    
    .ui-datepicker-prev:after,
        .ui-datepicker-next:after {
            content: '';
            position: absolute;
            display: block;
            width: 10px;
            height: 10px;
            border-left: 2px solid #b0aead;
            border-bottom: 2px solid #b0aead;
            top: 62px !important;
        }
}
@media screen and (max-width: 425px) {

    .ui-datepicker-prev:after,
    .ui-datepicker-next:after {
        content: '';
        position: absolute;
        display: block;
        width: 10px;
        height: 10px;
        border-left: 2px solid #b0aead;
        border-bottom: 2px solid #b0aead;
        top: 81px !important;
    }
}
.nav-item .nav-link{
    color: black;
    font-weight: 500;
    font-size: 16px;

}
.nav-item .nav-link:hover{
    color: black !important;
}
input[type=checkbox] {
    accent-color: #9CBF17;
}
.booking-types{
    color:#797979;
}
.booking-game-types .nav-link{
    border: 1px solid #b0aead;
    margin-bottom: 15px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align: center;
    font-size: 15px;
}
.booking-game-types .nav-link:hover{
    color: white !important;
    background:linear-gradient(to right, #1db4eb 0%, #9cbf17 80%) !important;
}
.main-continue{
    background:linear-gradient(to right, #1db4eb 0%, #9cbf17 80%) !important ;
}
/* .pizza_bowl{
    border: 2px solid !important;
    border-image: linear-gradient(to right, #1EB4E8 0%, #9CBF17 100%) 1 !important;
    border-radius: 20px !important;

} */
.pizza_bowl,.Pakages {
    position: relative;
    border-radius: 10px;
    background-color: white; 
    z-index: 1; 
}

.pizza_bowl::before,.Pakages::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(to right, #1EB4E8, #9CBF17);
    border-radius: 10px;
    padding: 1px; 
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}
.heading-title{
    background: linear-gradient(to right, #9cbf17 0%, #1db4eb 80%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 18px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background: linear-gradient(to left, #9cbf17 0%, #1db4eb 80%);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #9cbf17;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .main-title{
    color: #797979;
    font-size: 20px;
    font-weight: 500;
  }
  .quantity-buttons{
    width: 20px;
    height: 28px;
    border: 1px;
    border-radius: 18px;
    color: black;
    font-size: 16px;
    color: white;
  }
  .qt-plus,.qt-minus{
    border-radius: 15px;
    padding: 3px;
    color: white;
    border: white;
  }
  .qt-minus{
    background-color: #2A3D6857;
  }
  .qt-plus{
    background-color: #9CBF17;
  }
